@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@font-face {
  font-family: "Bleak Chop";
  src: url("./Bleak Chop.ttf");
}
* {
  text-align: center;
  margin: 0px;

}
html,
body {
  height: 100vh;
  position: relative;
  width: auto;
  display: grid;
  grid-template: auto;
}
header {
  height: 230px;
  font-family: "Bleak Chop";
  background-color: #febf4e;
  padding-bottom: 40px;
 
}
h1 {
  font-size: 35px;
  color: black;
  font-family: "Bleak Chop";
  margin-top: -15px;
  letter-spacing: 2px;
}
#logo {
  max-height: 180px;
  max-width: 180px;
  margin-top: 25px;
}
nav {
  height: auto;
  width: 100%;
  background-color: #febf4e;
  padding: 10px 0px;
}
/* falta un float*/
.menuIcon {
  width: 30px;
  height: 30px;
  float: right;
  margin: 15px 20px 15px 0px;
  display: none;
}
#check {
  display: none;
}
input {
  font-size: 18px;
  text-align: left;
  padding: 8px 10px 6px 8px;
  margin: 0px 6px 0px 10px;
  box-shadow: 3px 3px 3px rgba(132, 132, 132, 0.13);
  border: 0;
  border-radius: 8px;
  outline: none;
}
label {
  padding: 5px;
  border: none;
  font-family: "Hammersmith One", sans-serif;
}
select {
  font-size: 18px;
  font-family: "Hammersmith One", sans-serif;
  background-color: #febf4e;
  padding: 6px 10px 6px 10px;
  box-shadow: 2px rgba(132, 132, 132, 0.13);
  border: 0;
  border-radius: 5px;
}
select[name="year"] {
  padding: 8px 12px 8px 12px;
}
select:hover {
  background-color: #f8b943;
  transition: 5ms;
}

#btn-clear {
  font-size: 15px;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #c90040;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  margin-left: 15px;
}
#btn-clear:hover,
#btn-panel:hover,
#btn-apiKey:hover {
  background-color: rgba(255, 12, 89, 0.902);
}
.metricas {
  height: auto;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c90040;
  padding-bottom: 15px;
}
.compute-stats {
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 10px 0px;
  background-color: #ffffff;
  font-family: "Hammersmith One", sans-serif;
}
#barra {
  background-color: black;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 15px;
}
#btn-panel {
  font-size: 12px;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #c90040;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
}
#btn-apiKey {
  font-size: 12px;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #c90040;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}
.itemMuro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  word-wrap: break-word;
  width: 500px;
  height: 280px;
  margin: 10px;
  color: white;
  border-radius: 6px;
  padding: 15px 5px 0px 15px;
  background: rgb(40, 40, 40);
  position: relative;
}
.itemMuro:hover {
  background: rgb(0, 0, 0);
}
.itemMuro img {
  max-width: 220px;
  max-height: 264px;
  border-radius: 6px;
}

.texto {
  position: absolute;
  top: 8px;
  left: 220px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

dd[itemprop="studio"] {
  color: #febf4e;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  margin-top: 25px;
}

dd[itemprop="name"] {
  font-size: 17px;
  font-weight: bold;
  font-family: "Hammersmith One", sans-serif;
  margin-top: 30px;
  letter-spacing: 1px;
}
dd[itemprop="shortDescription"] {
  font-size: 16px;
  text-align: left;
  margin-top: 30px;
  color: #aca6a6;
  font-family: Arial, Helvetica, sans-serif;
}
dd[itemprop="genre"] {
  font-size: 15px;
  padding-top: 10px;
  text-align: left;
  margin-top: 15px;
  color: #aca6a6;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 220px;
}
dd[itemprop="year"] {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 245px;
  left: 240px;
  letter-spacing: 1px;
}
footer {
  font-size: 16px;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 30px;
  padding: 20px 20px;
  background-color: #febf4e;
  font-family: "Hammersmith One", sans-serif;
}

.movie {
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
  width: 850px;
  height: 450px;
  margin: 40px 20px 20px 70px;
  color: white;
  border-radius: 6px;
  padding: 15px 5px 0px 15px;
  background: rgb(40, 40, 40);
  position: relative;
}
.itemcontainer {
  display: flex;
}
.itemcontainer img {
  max-height: 430px;
  border-radius: 6px;
  margin-left: 10px;
}
.textoM {
  position: absolute;
  top: 8px;
  left: 350px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

dd[itemprop="studioM"] {
  color: #febf4e;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  margin-top: 25px;
}

dd[itemprop="nameM"] {
  font-size: 17px;
  font-weight: bold;
  font-family: "Hammersmith One", sans-serif;
  margin-top: 30px;
  letter-spacing: 1px;
}
dd[itemprop="descriptionM"] {
  font-size: 16px;
  text-align: left;
  margin-top: 30px;
  color: #aca6a6;
  font-family: Arial, Helvetica, sans-serif;
}
dd[itemprop="genreM"] {
  font-size: 15px;
  padding-top: 10px;
  text-align: left;
  margin-top: 15px;
  color: #aca6a6;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 380px;
}
dd[itemprop="yearM"] {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 405px;
  left: 435px;
  letter-spacing: 1px;
}
#boton-abrirchat{
  width: 415px;
  height: 30px;
  border:none;
  background-color: #c90040;
  color: rgb(255, 255, 255);
  border-radius: 10px 10px 00px 0px;
  position: fixed;
  bottom: 0px;
  right: 90px;
  font-size: 18px;
  font-family: "Hammersmith One", sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  padding-bottom: 30px;;
}
#img-flecha{
  width: 58px;
  position: relative;
  right: -134px;
  top: 9px;

}
.chat-movie {
  width: 400px;
  height: 530px;
  color: white;
  border-radius: 10px 10px 0px 0px;
  padding: 15px 5px 0px 15px;
  background: rgb(40, 40, 40);
  position: fixed;
  bottom: 0px;
  right: 90px;
 
 
}
#img-chat{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  top: 8px;
  left: -168px;
  
}
#titulo-p{
  font-family: "Hammersmith One", sans-serif;
  color: #ffffff;
  font-size: 16px;
  margin-left: 80px;
  margin-right: 70px;
  position: relative;
  top: -26px;
  left: -5px;
}
#img-cerrar{
  width: 53px;
  position: relative;
  top: -66px;
  right: -164px;
}
#conversacion-chat{
  width: 370px;
  height: 293px;
  padding: 8px 15px 15px 15px;
  position: relative;
  top: -37px;
  left: -2px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  overflow-y: scroll;
} 

/* Tamaño del scroll */
#conversacion-chat::-webkit-scrollbar {
  width: 8px;
}

 /* Estilos barra (thumb) de scroll */
 #conversacion-chat::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
#puntos-colores {
  position: relative;
  top: 290px;
  left: 11px;
}
.tres-puntos {
  border-radius: 100%;
  height: 5px;
  width: 5px;
  display: flex;
  align-items: center;
  
}

.tres-puntos:nth-child(1) {
  background-color: #c90040;
  animation: preloader .6s ease-in-out alternate infinite;

  }
.tres-puntos:nth-child(2) {
  background-color:#f96945;
   animation: preloader .6s ease-in-out alternate .2s infinite;

  }

.tres-puntos:nth-child(3) {
  background-color: #F8B943;
  animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
  100% { transform: scale(2); }
}

#text-chat{
  height: 80px;
    width: 326px;
    overflow-wrap: break-word;
    border-width: 1px;
    writing-mode: horizontal-tb;
    position: relative;
    bottom: 19px;
    left: -9px;
    border-radius: 10px;
    text-align: left;
    box-sizing: border-box;
    padding: 10px;
}
#btn-enviarchat{
  height: 86px;
  width: 55px;
  font-size: 11px;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #c90040;
  border-radius: 10px;
  position: relative;
  bottom: 58px;
  right: 1px;
  z-index: 1;

}
#mi-pregunta {
  display: inline-block;
  background-color: #F8B943;
  border-radius: 10px;
  margin: 10px 0 0 auto;
  padding: 7px;
  display: flex;
  flex-direction: row-reverse;
  text-align: justify;
  max-width: 80%;

}
#su-respuesta{
  background-color:#f96945;
  border-radius: 10px;
  margin: 10px auto  0 0 ;
  padding: 7px;
  display: flex;
  flex-direction: row;
  text-align: justify;
  max-width: 80%;
}
#caja-api {
  margin: 50px;
  margin-bottom: 80px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
#h-api {
  padding-bottom: 20px;
  font-family: "Hammersmith One", sans-serif;
}
#label-api {
  padding: 0px;
}
input[type="apibox"] {
  font-size: 17px;
  text-align: left;
  padding: 8px 10px 6px 20px;
  margin: 30px 0px 60px 30px;
  box-shadow: 3px 3px 3px rgba(132, 132, 132, 0.13);
  border: none;
  background-color: #f8ce81;
  width: 450px;
  border-radius: 10px 0px 0px 10px;
  -webkit-text-security: disc;
}
#btn-ingresar {
  font-size: 14px;
  background-color: #f96945;
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  font-family: "Hammersmith One", sans-serif;
  position: relative;
  top: -2px;
  box-shadow: 3px 3px 3px rgba(132, 132, 132, 0.13);
}
#btn-borrarApi {
  font-size: 14px;
  background-color: #febf4e;
  color: #ffffff;
  border-radius: 0px 10px 10px 0px;
  border: none;
  padding: 8px 15px;
  font-family: "Hammersmith One", sans-serif;
  position: relative;
  top: -2px;
  box-shadow: 3px 3px 3px rgba(132, 132, 132, 0.13);
}

#btn-ingresar:hover, #btn-borrarApi:hover{
background-color: #c90040;
}

#chat-grupal {
  height: 450px;
  width: 970px;
  background-color: #2d2d2d;
  border: none;
  border-radius: 10px;
  margin: auto;
  margin-top: 50px;
  display: flex;
}
#vista-peliculas{
  display: flex;
  height: 450px;
}
.conjunto-movies{
  overflow-y: scroll;
  padding: 15px;
}
/* Tamaño del scroll */
.conjunto-movies::-webkit-scrollbar {
  width: 8px;
  background-color:#868585;
}

 /* Estilos barra (thumb) de scroll */
 .conjunto-movies::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
#acervo{
  list-style: none;
  display: flex;
  padding-top: 5px;
  flex-direction: column;
  font-family: "Hammersmith One", sans-serif;
  font-size: 14px;
  color: #ffffff;
  width: 225px;

}
#acervo img{
  display: flex;
  padding-right: 5px;
  width: 70px;
  height: 70px; 
}
dd[itemprop="nameP"] {
  text-align: center;
  position: relative;
  top: -53px;
  left: 96px;
  overflow: hidden;
  width: 133px;
  flex-wrap: wrap;
  display: flex;
  overflow-wrap: break-word;
}
#panel-chat{
  height: 450px;
  width: 775px;
  border-radius: 0 10px 10px 0;

}
#titulo-g{
  font-family: "Hammersmith One", sans-serif;
  color: #ffffff;
  font-size: 16px;
  margin-left: 80px;
  margin-right: 70px;
  position: relative;
  top: -26px;
  left: -5px;
}
#conversacion-panel{
  width: 370px;
  height: 293px;
  padding: 8px 15px 15px 15px;
  position: relative;
  top: -37px;
  left: -2px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  overflow-y: scroll;
} 

/* Tamaño del scroll */
#conversacion-panel::-webkit-scrollbar {
  width: 8px;
}

 /* Estilos barra (thumb) de scroll */
 #conversacion-panel::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
#mi-preguntapanel {
  display: inline-block;
  background-color: #F8B943;
  border-radius: 10px;
  margin: 10px 0 0 auto;
  padding: 7px;
  display: flex;
  flex-direction: row-reverse;
  text-align: justify;
  max-width: 80%;

}
#su-respuestapanel{
  background-color:#f96945;
  border-radius: 10px;
  margin: 10px auto  0 0 ;
  padding: 7px;
  display: flex;
  flex-direction: row;
  text-align: justify;
  max-width: 80%;
}
#text-panel{
  height: 65px;
    width: 557px;
    overflow-wrap: break-word;
    border-width: 1px;
    writing-mode: horizontal-tb;
    position: relative;
    bottom: 10px;
    left: -9px;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
}
#btn-enviarpanel{
  height: 86px;
  width: 55px;
  font-size: 11px;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #c90040;
  border-radius: 10px;
  position: relative;
  bottom: 50px;
  right: 1px;
  z-index: 1;

}
#h-error{
font-family: "Hammersmith One", sans-serif;
 position: absolute;
 top: 400px;
 left: 400px;
}

#p-error{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 80px;
  position: absolute;
  top: 450px;
  left: 400px;
}

#img-error{
  width: 400px;
  position: relative;
  top: 0px;
  left: 300px;
}


@media (width < 760px) {
 
  * {
    text-align: center;
    margin: 0px;
    
  
  }
  header {
    height: 230px;
    font-family: "Bleak Chop";
    background-color: #febf4e;
    padding-bottom: 40px;
    width: auto;
  }
  input[type="apibox"] {
    font-size: 17px;
    text-align: left;
    padding: 8px 10px 6px 20px;
    margin: 30px 0px 60px 30px;
    box-shadow: 3px 3px 3px rgba(132, 132, 132, 0.13);
    border: none;
    background-color: #f8ce81;
    width: 450px;
    border-radius: 10px 10px 10px 10px;
    -webkit-text-security: disc;
}
#btn-ingresar {
  font-size: 14px;
  background-color: #f96945;
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  font-family: "Hammersmith One", sans-serif;
  position: relative;
  top: -2px;
  box-shadow: 3px 3px 3px rgba(132, 132, 132, 0.13);
  border-radius: 10px;
}
#btn-borrarApi {
  font-size: 14px;
  background-color: #febf4e;
  color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  border: none;
  padding: 8px 15px;
  font-family: "Hammersmith One", sans-serif;
  position: relative;
  top: -2px;
  box-shadow: 3px 3px 3px rgba(132, 132, 132, 0.13);
}
  #h-error {
    font-family: "Hammersmith One", sans-serif;
    position: absolute;
    top: 400px;
    left: 49px;
}
#p-error {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 80px;
  position: absolute;
  top: 450px;
  left: 43px;
  width: 130px;
}
  #img-error {
    width: 263px;
    position: relative;
    top: 0px;
    left: 72px;
}
}
